body {
    font-family: sans-serif;
  }
  h1{
    text-align: center;

  }
  #contact-form {
    margin-left: 100px;
    width: 50%;
    margin: auto;
    padding: 2%;
    border: 1px solid #f7f7f7;
  }
  label {
    display: block;
    margin-top: 25px;
    font-size: 1rem;
  }
  input, textarea {
    border-radius: 5px;
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
  .select{
    border-radius: 5px;
    width: 85%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
  .option{
    border-radius: 5px;
    width: 85%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
  button {
    width: 82.5%;
    height: 50px;
    border-radius: 5px;
    color: black;
    background: #858383;
    line-height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid rgb(90, 87, 87);
    margin-top: 25px;
    transition: color .4s ease-out, background .4s ease-out;
  }
  button:hover {
    color: gray;
    background: #fff;
  }

