*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-left: 25px;
}

.ar, nav{
    flex: 1;
    text-align: center;
    position: relative;
    text-decoration: none;
    letter-spacing: 5px;
    padding: 0 10px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-top: 50px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    color: black;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    transition: margin 0.2s ease-in-out;
}

.rrrrr{
    text-align: right;
    padding-left: 500px;
}

.navbar a::after{
    border-radius: 5px;
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    background: #000;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after{
    transform: scaleX(1);
}

.logo{
    margin-top: 25px;
}

.content1{
    margin-left: 400px;
    margin-top: 500px;
    font-size: 20px;
    max-width: 1000vh;
}
.content2 img{
    transform:  rotate(-40deg);
    margin-left: 900px;
}



.row{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 500px;
}



.row2{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}



.categories3{
    text-align: center;
    margin-top: 40px;
}

.categories3 h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.btn{
    display: inline-block;
    background: #1c1c1c;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;
}

.btn:hover{
    background: #787276;
}

#s5{
    margin-top: -50px;
}


footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: gray;
}

.footer-bottom{
    background: #0d0d0d;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}