<!DOCTYPE html>
<html>
<head>

	<title>T-shirts</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="f.page.css">
</head>
<body>
	
	

	<h2>NEW RELEASES</h2>
	<br>
	<br>


<section class="section1">	

		<div class="jsh">

			<div class="jsh1" >
				<a href="first.html">
					<img src="1.jpg" width="200" height="210">
				</a>
		 <br>
		 <br>
		 	<div class="details">
		 		<h5 style="color: gray;">NIKE</h5>
			

				 <h4>Black NIKE t-shirt</h4>
		 	</div>
		</div>

		<div class="jsh1" >
			<a href="second.html">
				 <img src="2.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
		  <div class="details">
		  	<h5 style="color: gray;">NIKE</h5>
		 	 <h4>Grey NIKE t-shirt</h4>
		 </div>

		</div>
		<div class="jsh1" >
			<a href="third.html"> 
				<img src="3.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
		  	<div class="details">
		  		<h5 style="color: gray;">NIKE</h5>
				  <h4>Blue NIKE t-shirt</h4>

		 	</div>

		</div>
		<div class="jsh1" >
			<a href="four.html">	
				<img src="4.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
		 	<div class="details">
				<h5 style="color: gray;">NIKE</h5>
				<h4>Black NIKE t-shirt</h4>
			</div>

		</div>
	</div>

	

	<br><br>
		<div class="jsh">

			<div class="jsh1" >
				<a href="six.html">
					<img src="5.jpg" width="200" height="210">
				</a>
		 <br>
		 <br>
		 	<div class="details">
		 		<h5 style="color: gray;">NIKE</h5>
				 <h4>White NIKE t-shirt</h4>
		 	</div>

		</div>
		<div class="jsh1" >
			<a href="seven .html">
				<img src="6.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
			<div class="details">
				<h5 style="color: gray;">NIKE</h5>
				<h4>Black NIKE t-shirt</h4>
            </div>

		</div>
		<div class="jsh1" >
			<a href="eight.html">
				<img src="-1.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
			<div class="details">
		  		<h6 style="color: gray;">ADIDAS</h6>
				  <h4>Black ADIDAS t-shirt</h4>
		 		
		 	</div>

		</div>
		<div class="jsh1" >
			<a href="nine.html">
				<img src="-2.jpg" width="200" height="210">
			</a>
		 
		 <br>
		 <br>
		  	<div class="details">
		 		<h5 style="color: gray;">ADIDAS</h5>
				 <h4>White ADIDAS t-shirt</h4>
		 		
		 	</div>

		</div>
	</div>
	<br>

	
	
	<div class="jsh">
		<div class="jsh1" >
			<a href="ten.html">
				<img src="-3.jpg" width="200" height="210">
		 	</a>
		 <br>
		 <br>
		 	<div class="details">
		 		<h5 style="color: gray;">ADIDAS</h5>
				 <h4>Dark blue ADIDAS t-shirt</h4>
		</div>

		</div>

		<div class="jsh1" >
			<a href="eleven.html">
				<img src="_1.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
			<div class="details">
		  		<h5 style="color: gray;">DIESEL </h5>
				  <h4>White DIESEL t-shirt</h4>
		 		
		 	</div>
		</div>

		<div class="jsh1" >
			<a href="nb.html">
				<img src="_2.jpg" width="200" height="210">
			</a>
		 <br>
		 <br>
		 
		 <div class="details">
			<h5 style="color: gray;">The North Face</h5>
		   <h4>Black The North Face t-shirt</h4>
	  </div>
  </div>

  <div class="jsh1" >
	  <a href="twelve.html">
		  <img src="_3.jpg" width="200" height="210">
	  </a>
   <br>
   <br>
		<div class="details">
			<h5 style="color: gray;">The North Face</h5>
		   <h4>Black The North Face t-shirt</h4>
	   </div>
  </div>

  <div class="jsh1" >
	  <a href="13.html">
		  <img src="_4.jpg" width="200" height="210">
	  </a>
   <br>
   <br>
		<div class="details">
			<h5 style="color: gray;">The North Face</h5>
		   <h4>Black The North Face t-shirt</h4>
	   </div>
  </div>
</div>
<br><br>

<div class="jsh">

  <div class="jsh1" >
	  <a href="14.html">
		  <img src="_5,jpg.jpg" width="200" height="210">
	  </a>
   <br>
   <br>
	   <div class="details">
		   <h5 style="color: gray;">USPA</h5>
		   <h4>Yellow USPA t-shirt</h4>
	   </div>
  </div>

  <div class="jsh1" >
	  <a href="15.html">
		  <img src="_6.jpg" width="200" height="210">
	  </a>
   
   <br>
   <br>
		<div class="details">
			<h5 style="color: gray;">USPA</h5>
		   <h4>White USPA t-shirt</h4>
	   </div>
  </div>

  <div class="jsh1" >
	  <a href="16.html"> 
		  <img src="_7.jpg" width="200" height="210">
	  </a>
  
   <br>
   <br>
		<div class="details">
			<h5 style="color: gray;">USPA</h5>
		   <h4>White USPA t-shirt</h4>
	   </div>

  </div>
  <div class="jsh1" >
	  <a href="17.html">
		   <img src="_8.jpg" width="200" height="210">
	  </a>
   <br>
   <br>
		<div class="details">
			<h5 style="color: gray;">USPA</h5>
		  <h4>White USPA t-shirt</h4>
	   </div>
  </div>
</div>
<br>


</section>





</body>
</html>




	

		
		 

	<div class="button">
		<button style="background-color: black; color: white; width: 210px; height: 50px;">SHOP NOW</button>
		
	</div>

	<br><br>


</section>





</body>
</html>